/* About */
.about {
  margin: 8px 10%;
  line-height: 1.5em;
}
.about > h2 {
  text-align: center;
  color: #f26f21;
  text-shadow: black 2px 2px 2px;
}

#about-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#about-container p {
  flex: 2;
}

#nba {
  font-weight: bold;
  color: #b8541a;
}
.page-redirect {
  color: #f26f21;
  text-decoration: underline;
  cursor: pointer;
}

#balls {
  flex: 1;
  margin: 16px;
  text-align: center;
}
#balls img {
  width: 100%;
  height: auto;
}
#balls figcaption {
  text-align: center;
  font-style: italic;
}

/* Contact Us */
.contact-us {
  padding: 16px;
  margin: 8px 10%;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #b8541a, #222);
}
#form-container {
  flex: 1;
}
#review {
  flex: 1;
  color: #eee;
}

@media screen and (max-width: 768px) {
  #about-container,
  .contact-us {
    flex-direction: column;
  }
  #balls img {
    width: 50%;
    height: auto;
  }
}
