body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#heading{
    text-align: center;
}
#legend-buttons button {
    margin: 5px 10px;
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    background-color: aliceblue;
}
#current-buttons button {
    margin: 5px 10px;
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    background-color: aliceblue;
}
.legendplayers, #starplayers button{
    padding: 0 20px;
    font-weight: bold;
}
h2{
    padding:0.5em;
}
.name{
    padding: 0.5em;
    text-align: center;
    font-size: larger;
}
h4{
    padding: 5px;
    text-decoration: underline;
    color: darkgray;
}
.content{
    padding: 0.5em;
}
iframe {
    display: block;
    margin: 20px auto;   
}
.videodescription{
    padding: 0 0.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.picture{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 10px auto;
    border: 5px solid rgb(75, 75, 188);
}
figcaption{
    text-align: center;
}