*{
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#heading{
    text-align: center;
    background-color: rgb(168, 122, 76);
    margin: 0;
    padding: 18px 0;
}
#legend-buttons button {
    margin: 20px 15px;
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: aliceblue;

}
#current-buttons button {
    margin: 20px 10px;
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: aliceblue;
}
.legendplayers, #starplayers button{
    padding: 0 20px;
    font-weight: bold;
}
h3{
    background-color: #dcdc48;
    padding: 8px 16px;
    font-size: 2em;
    margin: 0;
    font-style: italic;
}
.name{
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    color: rgb(2, 38, 38);
}
h4{
    padding: 7px;
    color: darkgray;
    font-weight: bold;
}
.content{
    padding: 0.5em;
}
iframe {
    display: block;
    margin: 20px auto;   
}
.videodescription{
    padding: 0 0.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.picture{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 10px auto;
    border: 5px solid rgb(75, 75, 188);
}
figcaption{
    text-align: center;
}
li{
    text-decoration: underline;
}