*{
    box-sizing: border-box;
}
body{
    display: flex;            
    flex-direction: column;   
}
#wrapper{
    display: flex;
    flex: 1;
}
main{
    flex: 6;
}
aside{
    flex: 2;
    text-align: center;
    background-image: radial-gradient(circle at center, #FFD8A6, #c48992, #797575  
    );
    color: white;
}
#heading{
    text-align: center;
    background-color: #e3dcd4;   
    color: #2f2b27;  
    margin: 0;
    padding: 18px 0;
}
#legend-buttons button {
    margin: 20px 15px;
    padding: 8px 16px;
    border: 2px solid #2f3b40;;
    border-radius: 5px;
    font-size: 0.95em;
    font-weight: bold;
    background-color: #dde8f4;
    cursor: pointer;
}
#current-buttons button {
    margin: 20px 10px;
    padding: 8px 16px;
    border: 2px solid #2f3b40;;
    border-radius: 5px;
    font-size: 0.95em;
    font-weight: bold;
    background-color: #dde8f4;
    cursor: pointer;
}
.legendplayers, #starplayers button{
    padding: 0 20px;
    font-weight: bold;
}
#mainheading, #mainheading2{
    background-color: #cfc7bf;   
    color: #3a3531;    
    padding: 8px 16px;
    font-size: 1.5em;
    margin: 0;
    font-style: italic;
}
.name{
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    color: #4a3f3a;
}
h4{
    padding: 7px;
    color: #5a5560;
    font-weight: bold;
}
.content{
    padding: 0.5em;
}
iframe {
    display: block;
    margin: 20px auto;   
}
.videodescription{
    padding: 0 0.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.picture{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 10px auto;
    border: 5px solid rgb(144, 135, 161);
}
#randomPic{
    border: none;
    box-shadow: 5px 5px 5px black;
    width: 150px;
}
#btnrandom{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 0.95em;
    font-weight: bold;
    border: 0.5px solid #333;
    border-radius: 6px;
    cursor: pointer;
}
figcaption{
    text-align: center;
}
li.sub{
    list-style-type: none;
    padding-left: 10px;
}
button a {
    text-decoration: none;
}
h3{
    padding: 1em;
    margin: 0;
    text-align: center;
}
h2{
    padding: 10px 20px;
}
#btnrandom:hover {
    background-color: #edded5;
}
button a:visited{
    color: black;
}
#legend-buttons button:hover,
#current-buttons button:hover {
    background-color: #c5d6ec;       
}
.footer{
    margin-top: 0;
}
.footer p,
.footer ol {
    font-size: small;
    margin: 0;
}
#placeholder{
    max-width: 60%;
    line-height: 1.4;
    margin: 40px auto;         
    padding: 20px 30px;
    text-align: center;
    border: 2px dashed #999;    
    border-radius: 10px;
    background-color: rgba(255,255,255,0.9);
    font-size: 1em;
}
@media screen and (max-width:768px){
    #wrapper{
        flex-direction: column;
    }
    nav,main, aside{
        width: 100%;
    }
}