html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  background-color: #F26F21;
  color: black;
  padding: 32px 0;
  text-align: center;
}
.banner h1 {
  font-size: 3rem;
  margin: 0;
}